/* CSS Reset */
@font-face {
  font-family: 'Pacifico';
  src: url('../Fonts/Pacifico/Pacifico-Regular.ttf');
}
@font-face {
  font-family: 'Lobster';
  src: url('../Fonts/Lobster/Lobster-Regular.ttf');
}
@font-face {
  font-family: 'Kalam';
  src: url('../Fonts/Kalam/Kalam-Regular.ttf');
}
body, h1, h2, h3, p, ul, li {
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  display: contents;
}

.navbar {
  background-color: #333;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 0;
}

.logo {
  display: flex;
  align-items: center;
  margin-left: 10px;
}

.logo img {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-links li {
  margin-right: 20px;
}

.nav-links li a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.nav-links li a:hover {
  color: #f1c40f; /* Change this to your desired hover color */
}

.nav-links li a.active {
  color: #f1c40f; /* Change this to your desired active color */
}

.hamburger-menu {
  display: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 5px;
}

@media screen and (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: #333;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }

  .active {
    display: flex;
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
  }

  .nav-links li {
    margin-right: 0;
    margin-bottom: 15px;
  }

  .hamburger-menu {
    display: block;
  }
}

  .hero {
    background-size: cover;
    background: url(../Images/student-gf7a275b71_1920.jpg) fixed no-repeat;
    background-position-x: center;
    background-color: #f1c40f;
    padding: 20rem 0;
    text-align: center;
    color: #333;
  }
  
  .features {
    padding: 40px 0;
  }
  
  .features h3 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .features ul {
    list-style: none;
    text-align: center;
  }
  
  .features li {
    margin-bottom: 10px;
  }
  
  /* .footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
    text-align: center;
  } */
  .heading{
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    color: deeppink;
  }
  .quotation{
    font-size: 1.8rem;
    font-family: 'Lobster', cursive;
    color: cornflowerblue;
  }
  .q{
    color: cadetblue;
  }
  .heading2{
    font-family: 'Kalam', cursive;
  }
  .box{
    display: flex;
    margin-bottom: 30px;
    cursor: pointer;
    flex-direction: column;
    align-items: center;
  }
  div img{
    height: 16rem;
    width: 16rem;
  }
  div p {
    align-self: center;
    font-size: 1.4rem;
    font-family: 'Kalam', cursive;
  }
  /* .fcontainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
  } */
  footer{
    display: flex;
    justify-content: center;
  }